body{background-color:#BB8FCE;}
#title{text-align:center;}
#Me {border:3px dotted blue;width:125px;}
#text{font-family:Bradley Hand;}
#softball{float:right;width:200px;height:150px;margin-left:10px;}
p{font-family:Apple Chancery;}
p{font-family:Apple Chancery;}
#Websites{border-radius:25px;border:2px solid #0000FF;padding:10px;width:250px;height:40px;}
#Santorini{width:50px;height:50px;margin:5px;}
#Dog{width:50px;height:50px;margin:5px;}
#Japan{height:200px;width:300px;margin-right:20px;margin-left:20px;}
.container{position:absolute;text-align:center;color:orange;}
.centered{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}}